HASURA_GRAPHQL_ENDPOINT=<address>:<port>/v1/graphql
HASURA_GRAPHQL_ADMIN_SECRET=<secret>

JWT_SECRET=<same as in the hasura environment variable>

EMAIL_HOST=smtp.163.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_ADDRESS=
EMAIL_PASSWORD=

（以下备注请在生产环境中删除）
注：不同邮箱提供商的配置方法不同，请参考对应的文档或邮箱设置；
- 部分邮箱需要手动开启 SMTP 服务；
- 部分邮箱的密码（包括清华邮箱）填的是设备授权码，而不是账号密码；
- 部分邮箱需要 OAuth2 或其他身份验证，请参考 https://nodemailer.com/smtp/oauth2/
