#index-main-frame {
  /* 水平居中 */
  text-align: center;
  /* 垂直偏移 */
  padding-top: 30vh;
}

#main-background-music {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 100;
}

#about-main-frame {
  height: 100%;
  /* 垂直居中 */
  display: flex;
  align-items: center;
  /* 好看的渐变色网站：https://color.oulu.me/ */
  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#outer {
  width: 700px;
  display: flex;
  margin: 0 auto;
}

#left {
  width: 330px;
  display: inline-block;
}

#right {
  margin-left: 12px;
  width: 334px;
  display: inline-block;
}

.card {
  padding: 12px;
  /* 圆角矩形 */
  border-radius: 8px;
  /* 毛玻璃特效 */
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
}

#img {
  padding: 0;
}

.styled-table {
  border-collapse: collapse;
}

.styled-table th, td {
  padding: 12px;
}

.styled-list li {
  line-height: 2em;
}

#clock {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 40vw;
}

#motto {
  position: absolute;
  bottom: 0;
  right: 12px;
  text-align: right;
  width: 40vw;
}
